*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

main{
    display: flex;
    flex-flow: row ;
    flex: 1 0 auto;
}
aside{
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 40px;
    background-color: rgb(196, 192, 192);
    justify-content: space-around;
    align-items: center;
}
i.fa{
    font-size: 1em;
    cursor: pointer;
    color: #f2f2f2;
}
aside a{
    text-decoration: none;
}
a:hover{
    border-radius: 5px;
    background-color:transparent;
    color: bisque;
}
footer{
    flex: 0 0 90px;
    background-color: rgb(53, 127, 177);
    color: #fff;
}
section{
    display: flex;
    flex: 1 1 auto;
    flex-flow: column ;
}
.cover{
    flex: 0 0 280px;
    display: flex;
    padding: 40px;
    background-color: #4e4e4e;
}
.body{
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 auto;
    list-style-type: none;
    padding: 5px 10px 0px;
}
li{
    display: flex;
    padding: 0 20px;
    min-height: 50px;
}
li p{
    flex: 0 0 25%;
}
li span{
    border: 1px solid black;
    font-size: 0.6rem;
    padding: 3px;
}
li:nth-child(2n){
    background-color: #f2f2f2;
}
.cat-music{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: #fff;
    padding-left: 50px;
}
.cat-music div:nth-child(1){
    margin-bottom: auto;
}
.cat-music div:nth-child(2){
    margin-top: 0;
}
.cat-music div:nth-child(2) i.fa{
    font-size: 0.9em;
    padding: 0 0.7em;
    font-weight: 300;
}
.cat-music div:nth-child(1) p:first-child{
    font-size: 1.8em;
    margin: 0 0 10px;
}
.cat-music div:nth-child(1) p:not(first-child){
    font-size: 0.9em;
    margin: 2px 0;
}
img{
    object-fit: cover;
}
.icons{
   display: flex;
   flex-flow: row;
   align-items: center;
   gap: 7%;
}